*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: "Fasthand", cursive;
    font-family: "Smooch", cursive;
    font-family: "Fasthand", cursive;
    font-family: "Caveat", cursive;
    /* font-family: "Open Sans", sans-serif; */
    background-color:black;
}
/* Style the logo */
.logo {
    display: inline-block;
    /* position: relative; */
}
.logo a {
    display: inline-block;
    color: white;
    position: relative;
    left: 1vw; /* Make logo float to the left */
    text-decoration: none;
    font-family: "Caveat", cursive;
    letter-spacing: 1px;
    font-size: 2.5rem; /* Adjust font size for logo */
    font-weight: bold; /* Make logo text bold */
    padding: 0rem 1rem; /* Add some padding for spacing */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* overflow: hidden; */
}
/* Underline from center */
.logo a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: yellow;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
  .logo a:hover:before, .logo a:focus:before, .logo a:active:before {
    left: 0;
    right: 0;
}
  
.logo span {
    font-size: 2.5rem; /* Adjust font size for logo */
    color: yellow;
}
/* Style the navigation element */
.logo-nav nav {
    display: inline-block;
    position: relative;
    left: 45vw; /* Make navigation float to the right */
    top: 0px;
}

/* Style the unordered list */
.logo-nav nav ul {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Style the list items */
.logo-nav nav ul li {
    display: inline-block; /* Make list items behave like inline elements */
    margin-right: 2rem; /* Maintain some margin on the right */
    padding: 0rem 1.5rem; /* Add padding for top and right space within `<li>`  */
}

/* Style the anchor tags (navigation links) */
.logo-nav nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    font-weight: bold; /* Make link text bold */
    font-family: "Josefin Slab", serif;
    font-weight: 500;
    font-size: 22px;
}
.logo-nav nav ul li.active a { 
    color: yellow;
}
/* Style for link hover effect */
.logo-nav nav ul li a:hover{
    color: yellow;
}
section.about{
    width: 100%;
    height: 80vh;
    background-color:black;
}
.about div.loop {
    display: inline-block;
    width: 45%;
    padding: 40px 35px;
    padding-left: 150px;
}
section .loop h1 {
    color: white;
    font-family: "Fasthand", cursive;
    font-size: 70px;
    letter-spacing: 2px;
}
.loop span.auto{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:2rem;
    color: #FFDE59;
}
.loop div .typed-cursor {
    opacity: 1;
} 
div.loop p {
    text-align:left;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 0;
}
div.loop button {
    background-color: #FFDE59;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
}
div.loop button:hover{
    box-shadow: 2px 2px 30px white;
    transition: all ease-out 0.2s;

}
div.image{
    display: inline-block;
    position: relative;
    width: 30%;
    top: -5vh;
/*     padding: 0vh 2vw; */
    padding-left: 10vw;
}
div.image img {
    width: 250px;
    border-radius: 50%;
    object-position: center right;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(247, 255, 3, 0.897);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

div.image img:hover {
    box-shadow: 0 0 4rem  rgba(255, 247, 6, 0.832);
}





    
